html, body{
    height: 100%;
}

body{
    background-image: linear-gradient(rgba(53, 255, 144, 0.6), rgba(116, 148, 234, 0.6), rgba(68, 204, 255, 0.6), rgba(53, 255, 144, 0.6));
    color: #000000;
    padding: 2%;
}

a{
    text-decoration: none;
}

#skipToMain{
    position: absolute;
    top: -200px;
}

#skipToMain:focus{
    background-color: #FFFFFF;
    position: relative;
    top: 0px;
}


ul{
    list-style-type: none;
    padding: 0%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

li{
    margin-top: 20px;
}

li a{
    font-size: 150%;
    color: rgb(240, 41, 39);
    font-weight: bolder;
    padding: 5px;
    margin: 0 auto;
    background-color: rgba(73, 73, 71, 0.80);
    border-radius: 5px;
}

li#actualPage a{
    color: #FFFFFF;
    background-color: #4383f9;
}

li a:hover{
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    padding: 10px;
    border-radius: 0%;
}

header{
    width: 80%;
    margin: 0 auto;
}

header h1{
    font-size: 225%;
}

header h1::first-letter{
    font-size: 150%;
    font-style: oblique;
}

div.carousel-item, img{
    width: 100%;
    margin: 1% auto;
}

.carousel-inner{
    display: flex;
}

figure img{
    border-radius: 20px;
    width: 100%;
}

@media screen and (min-width: 768px){
    div.carousel-item, img{
        width: 50vw;
    }

    .carousel-control-prev, .carousel-control-prev-icon{
        left: 20vw;
    }

    .carousel-control-next, .carousel-control-next-icon{
        right: 20vw;
    }

    nav{
        max-height: 150px;
    }

}

@media screen and (min-width: 1200px){
    
}